@font-face {
    font-family: "CenturyGothic";
    src: url("../foot/Poppins.ttf");
    // font-weight: normal;
}

@font-face {
    font-family: "CenturyGothicbold";
    src: url("../foot/CenturyGothicbold.TTF");
}

@font-face {
    font-family: "BEBAS";
    src: url("../foot/BEBAS__.TTF");
}